body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: sticky;
    border-bottom: 1px solid #000;
    padding: 20px 20px;
}

nav .onglet a {
    text-decoration: none;
    color: #000;
    margin-right: 9px;
    margin-left: 4px;
    transition: .3s;
}

nav .onglet a:hover {
    font-size: 20px;
    color: red;
}

.rechercher {
    color: aliceblue;
    background-color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.reche {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.rechercher:hover {
    color: black;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.formulaire {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.formulaire label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulaire input[type="email"],
.formulaire input[type="text"],
.formulaire textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formulaire button {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.formulaire button:hover {
    color: black;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.riv a {
    color: aliceblue;
    background-color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.riv a:hover {
    color: black;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #4CAF50;
}

main {
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
